@tailwind base;
@tailwind components;
@tailwind utilities;
@import "zeroing";


$activeColor: #FABF2C;

:root {
  background-color: #080E11;
  color: #FFF;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: normal;
  height: 100vh;
  overflow: hidden;
}

.container {
  width: calc(100% - 55px - 130px);
  margin-left: 130px;
  //padding: 0 55px 0 130px;
  position: relative;
  z-index: 1;
}

h1 {
  color: #FFF;
  font-size: 70px;
  font-style: normal;
  font-weight: 800;
  line-height: 85px;

  span {
    color: $activeColor;
  }
}

.mainLink {
  color: #FFF;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  column-gap: 12px;

  span, svg path {
    transition: all .3s ease !important;
  }

  &:hover {

    span {
      color: $activeColor;
    }

    svg path {
      stroke: $activeColor;
    }
  }

  &_back {
    flex-direction: row-reverse;

    svg {
      transform: rotate(180deg);
    }
  }
}

.lines {
  position: absolute !important;
  left: 0;
  bottom: 0;
  width: 2920px;
  display: block;
  z-index: 0;
}

.rmsc .dropdown-container {
  white-space: nowrap;
  border-radius: 8px !important;
  padding: 4px 20px !important;
  background-color: transparent !important;

  &:focus-within {
    box-shadow: none !important;
    border: 1px solid #FABF2C !important;
  }

  .dropdown-heading {
    padding: 0;
    height: auto;
    cursor: pointer;

    &-value {
      span {
        color: #fff;
      }
    }

    svg {
      margin-top: 3px;
      margin-left: 3px;
      margin-right: -3px;
      color: #fff;
    }
  }

  .dropdown-content {

    .panel-content {
      border: 1px solid #FABF2C !important;
      border-radius: 8px;
      background: transparent;
      margin-left: -20px;
      width: 100%
    }
  }

  .select-item {
    &:hover, &.selected {
      background: transparent;
    }
  }
}



