.overflow {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: blur(2px);
  backdrop-filter: blur(11px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  opacity: 0;
  pointer-events: none;
  transition: all .3s ease;

  &.active {
    opacity: 1;
    pointer-events: auto;
  }
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all .3s ease;

  &.active {
    opacity: 1;
    pointer-events: auto;
  }

  .modal {
    position: relative;
    border-radius: 12px;
    border: 1px solid #FABF2C;
    background: rgba(37, 49, 55, 0.59);
    backdrop-filter: blur(28.5px);

    .close {
      width: 27px;
      height: 27px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color: rgba(37, 49, 55, 0.59);
      transition: all .3s ease;
      position: absolute;
      top: 19px;
      right: 19px;

      svg path {
        transition: all .3s ease;
      }

      &:hover {
        svg path {
          stroke: #FABF2C;
        }
      }
    }
  }
}